#pic{height: 350px ;
    width: 100% ;
    filter: brightness(50%);
  }
    
      .Rec{ position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)}
      .Second{position: relative;
text-align: center;
        font-family:serif;
        color: white
}
      .Second{position: relative;
text-align: center;}
h1{color: #F0B710;   text-transform: uppercase ; text-align: center;
  border-bottom: 1px solid #F0B710 
   }
   .Flex{ position: relative;
float:right;
padding-left: 10%; margin:10%;}

.P1,.P3,.P4,.P5,.P7,.P9 {color: #F0B710 ;font-size: 30px}

.P2,.P11,.P6,.P8,.P10 { width: 60%;}
.Mission{}

